@charset "UTF-8";
html,
* {
  font-size: clamp(15px, 2.3vw + 0rem, 46px);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #000000;
}
body[emergency="1"] {
  background-color: #850000 !important;
}

h1 {
  font-size: 1rem;
}

span {
  font-weight: bold;
}

.text_center {
  text-align: center;
}

.padding_small {
  padding: 0.2rem;
}

.container {
  width: 50vw;
  height: 100vh;
  right: 0;
  position: absolute;
}

.gauge {
  position: relative;
  border: 1px solid #fff;
  width: 100%;
}
.gauge_gauge {
  width: 0;
  height: 1rem;
  background: #1c71bd;
}
.gauge_char {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1rem;
}

.gauge_mini .gauge_gauge {
  height: 0.7rem;
}

.gauge_mini .gauge_char {
  font-size: 0.6rem;
  line-height: 0.7rem;
}

.parents {
  background-color: #33373a;
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  margin: 0.2rem;
  padding: 0.2rem;
}
.parents[emergency="1"] {
  background-color: #df2121;
}

#timer {
  grid-area: timer;
  margin: 0.1rem;
}
#timer .gauge {
  border: none;
  margin: 0.1rem;
  background-color: #33373a;
}
#timer .gauge_gauge {
  height: 2rem;
  background: #1c71bd;
}
#timer .gauge_char {
  font-size: 1.9rem;
  line-height: 2rem;
}

#communcation {
  grid-area: communication;
  background: #3a3a3a;
}

#strategy {
  grid-area: "strategy";
  background: #3a3a3a;
}

#log {
  grid-area: "log";
  background: #3a3a3a;
}
#log #logger_content p {
  font-family: "Courier New", Consolas, monospace;
}

#gamePad_1 {
  background: #3a3a3a;
}

#gamePad_2 {
  background: #3a3a3a;
}

#gamePad_3 {
  background: #3a3a3a;
}

.ping_rssi {
  display: inline;
  position: absolute;
  right: 0.3rem;
  top: 1.3rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.grid_2columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
}

#robots {
  grid-area: robots;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
  grid-template-areas: "GP1 GP2 GP3" "R1 R21 R22" "R23 communication communication";
  height: 100vh;
}

.robot {
  background: #3a3a3a;
}

#grid_R1_inject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
}

#R1 {
  grid-area: R1;
}

#R2-1 {
  grid-area: R21;
}

#R2-2 {
  grid-area: R22;
}

#R2-3 {
  grid-area: R23;
}

#gamePad_1 {
  grid-area: GP1;
}

#gamePad_2 {
  grid-area: GP2;
}

#gamePad_3 {
  grid-area: GP3;
}

.robot_name {
  font-weight: bold;
  background-color: #00417f;
  position: relative;
  padding: 0.1rem 0 0.1rem 0.3rem;
  font-size: 1.2rem;
  height: 2.5rem;
}

/* ボタンの基本スタイル */
button {
  display: inline-block;
  margin: 0.2rem 0.1rem;
  padding: 0.3rem 0.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px #fff;
  background: none;
  background-color: #1c71bd;
}
button:hover {
  background-color: #145492;
}
button:active {
  background-color: #0e3a64;
}

input[type=number] {
  background-color: black;
  color: white;
}

input[type=range] {
  -webkit-appearance: none;
  /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  /* カーソルを分かりやすく */
  outline: none;
  /* スライダーのアウトラインは見た目がキツイので消す */
  height: 14px;
  /* バーの高さ */
  width: 100%;
  /* バーの幅 */
  background: #8acdff;
  /* バーの背景色 */
  border-radius: 10px;
  /* バーの両端の丸み */
  border: solid 3px #dff1ff;
  /* バー周囲の線 */
}

/* WebKit向けのつまみ */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /*  🚩デフォルトのつまみのスタイルを解除 */
  background: #1c71bd;
  /* 背景色 */
  width: 24px;
  /* 幅 */
  height: 24px;
  /* 高さ */
  border-radius: 50%;
  /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  /* 影 */
}

/* Moz向けのつまみ */
input[type=range]::-moz-range-thumb {
  background: #1c71bd;
  /* 背景色 */
  width: 24px;
  /* 幅 */
  height: 24px;
  /* 高さ */
  border-radius: 50%;
  /* 円形に */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  /* 影 */
  border: none;
  /* デフォルトの線を消す */
}

/* Firefoxで点線が周りに表示されてしまう問題の解消 */
input[type=range]::-moz-focus-outer {
  border: 0;
}/*# sourceMappingURL=main.css.map */